.header{
    background-color: rgba(60, 104, 97, 0.5);
    height: 100px;
}

.caption{
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 991.98px) {
    .collapse-dark-bg {
      background-color: #343a40 !important; 
      color: white !important;
    }
  }