.header{
    background-color: rgba(47, 19, 94, 0.5);
    height: 110px;
    font-size: 18px;
}

.header a {
    color: rgb(204, 204, 202);
    font-weight: 550;
} 

.caption{
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 991.98px) {
    .collapse-dark-bg {
      background-color: #343a40 !important; 
    }
    .collapse-dark-bg a {
        color: black !important;
    }
  }

.nav-dropdown-items > * {
    color: black !important;
}

.footer {
    background-color: rgba(47, 19, 94, 0.5);
}

.my-dropdown{
    position: relative;
}

.my-dropdown .dropdown-menu {
    background-color: rgba(105, 83, 143, 0.95); 
    font-size: 15px;
    padding: 3px;
    position: absolute;
    top: 35px;
    left: 25px;
}

.my-dropdown-item {
    color: #fff;
    margin-top: 5px;
}

.my-dropdown-item.active {
    background-color: #70adaa;
}

.my-dropdown-item:hover {
    background-color: rgba(86, 80, 120, 0.95);
    color: #ffffff;
    padding: 10px;
}

