.reviews {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background: white;
    margin-bottom: 50px;
}

.reviews .text-area {
    border-radius: 8px !important;
    padding: 10px 12px !important;
    resize: none !important;
    border-color: white !important;
}

.placeholder-secondary::placeholder {
  color: #888f93 !important; /* secondary color */
  opacity: 1 !important; /* gerekirse */
}

.review-item .list-group-item-text {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin: px 0px !important;
    gap: 10px !important;
}

textarea.form-control:focus {
  box-shadow: none !important;
  border-color: white !important;
}

textarea.form-control:hover:focus {
  box-shadow: none !important;
  border-color: white !important;
}
