.profile-row {

}
.profile-row .profile-alert {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: white !important;
    background: linear-gradient(to right, #666970ff, #393d47);
    height: 80px;
}

.user-info {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: 520px !important;
    max-width: 600px !important;
    margin: 0 auto !important;
    background: linear-gradient(to right, #393d47, #666970ff) !important;
    color: white !important;    
    border: light !important;
}

.user-info .update-button {
    background: #138836ff !important;
    border: 1px solid #1a7b19ff !important;
    backdrop-filter: blur(4px) !important;
    color: white !important;
}